.container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
}

.left > h2 {
  font-size: 1.8rem;
  max-width: 600px;
  font-weight: 600;
}

.left > p {
  max-width: 800px;
  font-size: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}

.features li {
  list-style: none;
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.features span {
  margin-left: 0.2rem;
}

.right {
  margin-left: 1rem;
}

.buttons a {
  font-weight: 600;
  font-size: 0.8rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn__hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn__hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn__hover:focus {
  outline: none;
}

.btn__hover__color {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.code__icon {
  width: 50%;
  height: 50%;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 2rem;
  }

  .left > h2 {
    font-size: 1rem;
    max-width: 200px;
    font-weight: 600;
  }

  .features {
    /* display: none; */
  }

  .buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .right {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 3rem;
  }

  .right {
    display: none;
  }
}

@media screen and (max-width: 1900px) {
  .container {
    padding: 3rem;
  }
}
